server:
  port: 8082
spring:
  application:
    name: coverage-service
  datasource:
    url: jdbc:mysql://localhost:3306/coverage_db?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
    jpa:
    hibernate:
    ddl-auto: update
    show-sql: true
  cloud:
    consul:
      host: localhost
      port: 8500
      discovery:
        service-name: coverage-service
      config:
        enabled: true
        format: YAML
        prefix: config
        default-context: application
        profile-separator: '-'
bmi:
  api:
    url: https://api.apiverve.com/v1/bmicalculator
    key: 654f8443-9c05-4a64-a9f4-8d4eba1c54f7